* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    overflow: hidden;
}

.main-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, rgba(0,0,0,0), rgba(0,0,0,0.6)), url("./assets/background-img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    display: relative;
}

header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid;
}

.header-container {
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 80px;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 1rem;
    font-weight: 700;
}

.menu {
    margin-right: 20px;
    z-index: 20;
    cursor: pointer;
    display: none;
}

.menu i {
    color: white;
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .menu {
        display: flex;
    }
    
    .nav-bar {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgb(99, 59, 3);
        padding-top: 120px;
        width: 300px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
    }

    .active {
        transform: translateX(0);
    }
}

main {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    padding-inline: 50px;
    margin-inline: auto;
}

.heading {
    text-transform: uppercase;
    word-spacing: 2;
    font-size: 3.5rem;
    color: white;
    text-align: center;
}

.quote-container {
    min-height: 120px;
    text-align: center;
    color: rgb(30, 227, 161);
}

.quote {
    font-size: 2rem;
    font-weight: 400;
}

.btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: fixed;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 10px;
    border: none;
    /* color: rgb(192, 55, 173); 
    background-color: rgba(3, 208, 249, 0.726); */
    color: #15345A;
    background-color: #807D9A;
    cursor: pointer;
}

@media (max-width: 768px) {
    main {
        padding-inline: 50px;
    }

    .heading {
        font-size: 2.5rem;
    }

    .quote {
        font-size: 1.75rem;
    }
}